swagger: "2.0"
info:
  title: OVH API - EU
  description: Build your own OVH world.
  version: 1.0.0
  contact:
    name: OVH API EU
    url: https://eu.api.ovh.com/
    email: api-subscribe@ml.ovh.net
  license:
    name: © OVH SAS
    url: https://eu.api.ovh.com/
host: eu.api.ovh.com
basePath: /1.0
schemes:
- https
consumes:
- application/json
produces:
- application/json
externalDocs:
  url: https://eu.api.ovh.com/
  description: Online version
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    name: X-Ovh-Consumer
    in: header
paths:
  /cloud:
    get:
      summary: List available services
      description: DEPRECATED (see '/cloud/project') - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/{serviceName}/pca:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: List available services
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/{serviceName}/pca/{pcaServiceName}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: pcaServiceName
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      responses:
        "200":
          $ref: '#/responses/pca.Account'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      parameters:
      - name: cloudPcaPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/pca.Account'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/{serviceName}/pca/{pcaServiceName}/billing:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: pcaServiceName
      in: path
      required: true
      type: string
    get:
      summary: cloud Archives billing items
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      parameters:
      - name: date.to
        in: query
        type: string
        format: date-time
      - name: date.from
        in: query
        type: string
        format: date-time
      - name: billed
        in: query
        type: boolean
        default: false
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/{serviceName}/pca/{pcaServiceName}/billing/{billingId}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: pcaServiceName
      in: path
      required: true
      type: string
    - name: billingId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      responses:
        "200":
          $ref: '#/responses/pca.Billing'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/{serviceName}/pca/{pcaServiceName}/serviceInfos:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: pcaServiceName
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      responses:
        "200":
          $ref: '#/responses/services.Service'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      parameters:
      - name: cloudPcaServiceInfosPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/services.Service'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/{serviceName}/pca/{pcaServiceName}/sessions:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: pcaServiceName
      in: path
      required: true
      type: string
    get:
      summary: cloud archives sessions for account
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      parameters:
      - name: name
        in: query
        type: string
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/{serviceName}/pca/{pcaServiceName}/sessions/{sessionId}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: pcaServiceName
      in: path
      required: true
      type: string
    - name: sessionId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      responses:
        "200":
          $ref: '#/responses/pca.Session'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      parameters:
      - name: cloudPcaSessionsPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/pca.Session'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Create a delete task for all files in session
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      responses:
        "200":
          $ref: '#/responses/pca.Task'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/{serviceName}/pca/{pcaServiceName}/sessions/{sessionId}/files:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: pcaServiceName
      in: path
      required: true
      type: string
    - name: sessionId
      in: path
      required: true
      type: string
    get:
      summary: cloud archives files in session
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      parameters:
      - name: name
        in: query
        type: string
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/{serviceName}/pca/{pcaServiceName}/sessions/{sessionId}/files/{fileId}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: pcaServiceName
      in: path
      required: true
      type: string
    - name: sessionId
      in: path
      required: true
      type: string
    - name: fileId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      responses:
        "200":
          $ref: '#/responses/pca.File'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/{serviceName}/pca/{pcaServiceName}/sessions/{sessionId}/restore:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: pcaServiceName
      in: path
      required: true
      type: string
    - name: sessionId
      in: path
      required: true
      type: string
    post:
      summary: Create a restore task for session
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      responses:
        "200":
          $ref: '#/responses/pca.Task'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/{serviceName}/pca/{pcaServiceName}/tasks:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: pcaServiceName
      in: path
      required: true
      type: string
    get:
      summary: cloud archives tasks for account
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      parameters:
      - name: todoDate.to
        in: query
        type: string
        format: date-time
      - name: function
        in: query
        type: string
        enum:
        - createUser
        - delete
        - restore
        - setPassword
        - setSessionName
        - setSshKey
      - name: status
        in: query
        type: string
        enum:
        - cancelled
        - deleted
        - doing
        - doingBackup
        - doingDelete
        - doingRestore
        - done
        - error
        - failedDelete
        - failedRestore
        - new
        - tagging
        - toBackup
        - toDelete
        - toRestore
        - todo
      - name: todoDate.from
        in: query
        type: string
        format: date-time
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create a cloud archives task
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      parameters:
      - name: cloudPcaTasksPost
        in: body
        schema:
          type: object
          required:
          - sessionId
          - taskFunction
          - fileIds
          properties:
            fileIds:
              type: array
              items:
                type: string
            sessionId:
              type: string
            taskFunction:
              type: string
              enum:
              - delete
              - restore
      responses:
        "200":
          $ref: '#/responses/pca.Task'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/{serviceName}/pca/{pcaServiceName}/tasks/{taskId}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: pcaServiceName
      in: path
      required: true
      type: string
    - name: taskId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      responses:
        "200":
          $ref: '#/responses/pca.Task'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/{serviceName}/pca/{pcaServiceName}/usage:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: pcaServiceName
      in: path
      required: true
      type: string
    get:
      summary: View account current total sessions usage (bytes)
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage') - authentication
        required
      responses:
        "200":
          description: return value
          schema:
            type: integer
            format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/createProject:
    post:
      summary: Start a new cloud project
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudCreateProjectPost
        in: body
        schema:
          type: object
          properties:
            catalogVersion:
              type: integer
              format: int64
            description:
              type: string
            voucher:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Project.NewProject'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/createProjectInfo:
    get:
      summary: Get information about a cloud project creation
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Project.NewProjectInfo'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/price:
    get:
      summary: Get services prices
      description: PRODUCTION - authentication required
      parameters:
      - name: flavorId
        in: query
        type: string
      - name: region
        in: query
        type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Price'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project:
    get:
      summary: List available services
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Project'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/cloud.Project'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/acl:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get ACL on your cloud project
      description: PRODUCTION - authentication required
      parameters:
      - name: type
        in: query
        type: string
        enum:
        - readOnly
        - readWrite
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create new ACL
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectAclPost
        in: body
        schema:
          type: object
          required:
          - accountId
          - type
          properties:
            accountId:
              type: string
            type:
              type: string
              enum:
              - readOnly
              - readWrite
      responses:
        "200":
          $ref: '#/responses/cloud.Acl'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/acl/{accountId}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: accountId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Acl'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete ACL
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/alerting:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Manage alerts on your consumption
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Add new alert
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectAlertingPost
        in: body
        schema:
          type: object
          required:
          - email
          - monthlyThreshold
          - delay
          properties:
            delay:
              type: integer
              format: int64
              enum:
              - 10800
              - 172800
              - 21600
              - 259200
              - 3600
              - 43200
              - 604800
              - 86400
            email:
              type: string
            monthlyThreshold:
              type: integer
              format: int64
      responses:
        "200":
          $ref: '#/responses/cloud.Alerting'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/alerting/{id}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Alerting'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectAlertingPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/cloud.Alerting'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete alerting
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/alerting/{id}/alert:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
    get:
      summary: See alerts
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/alerting/{id}/alert/{alertId}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
    - name: alertId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.AlertingAlert'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/bill:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get your project bills
      description: PRODUCTION - authentication required
      parameters:
      - name: to
        in: query
        required: true
        type: string
        format: date-time
      - name: from
        in: query
        required: true
        type: string
        format: date-time
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Project.Bill'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/cancel:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Cancel project creation
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/changeContact:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Launch a contact change procedure
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectChangeContactPost
        in: body
        schema:
          type: object
          properties:
            contactAdmin:
              type: string
            contactBilling:
              type: string
            contactTech:
              type: string
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/confirmTermination:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Confirm termination of your service
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectConfirmTerminationPost
        in: body
        schema:
          type: object
          required:
          - token
          properties:
            commentary:
              type: string
            reason:
              type: string
              enum:
              - LACK_OF_PERFORMANCES
              - MIGRATED_TO_ANOTHER_OVH_PRODUCT
              - MIGRATED_TO_COMPETITOR
              - NOT_NEEDED_ANYMORE
              - NOT_RELIABLE
              - OTHER
              - TOO_EXPENSIVE
              - TOO_HARD_TO_USE
            token:
              type: string
      responses:
        "200":
          description: return value
          schema:
            type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/consumption:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get your project consumption
      description: PRODUCTION - authentication required
      parameters:
      - name: to
        in: query
        required: true
        type: string
        format: date-time
      - name: from
        in: query
        required: true
        type: string
        format: date-time
      responses:
        "200":
          $ref: '#/responses/cloud.Project.ProjectUsage'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/credit:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get your credit
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Add credit to your project
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectCreditPost
        in: body
        schema:
          type: object
          required:
          - code
          properties:
            code:
              type: string
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/credit/{id}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Credit'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/flavor:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get flavors
      description: PRODUCTION - authentication required
      parameters:
      - name: region
        in: query
        type: string
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Flavor.Flavor'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/flavor/{flavorId}:
    parameters:
    - name: flavorId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get flavor
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Flavor.Flavor'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/forecast:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get your consumption forecast
      description: PRODUCTION - authentication required
      parameters:
      - name: toDate
        in: query
        required: true
        type: string
        format: date-time
      responses:
        "200":
          $ref: '#/responses/cloud.Forecast.ProjectForecast'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/image:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get images
      description: PRODUCTION - authentication required
      parameters:
      - name: flavorType
        in: query
        type: string
      - name: osType
        in: query
        type: string
        enum:
        - linux
        - bsd
        - windows
      - name: region
        in: query
        type: string
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Image.Image'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/image/{imageId}:
    parameters:
    - name: imageId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get image
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Image.Image'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get instances
      description: PRODUCTION - authentication required
      parameters:
      - name: region
        in: query
        type: string
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Instance.Instance'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create a new instance
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectInstancePost
        in: body
        schema:
          type: object
          required:
          - flavorId
          - name
          - region
          properties:
            flavorId:
              type: string
            groupId:
              type: string
            imageId:
              type: string
            monthlyBilling:
              type: boolean
              default: false
            name:
              type: string
            networks:
              type: array
              items:
                $ref: '#/definitions/cloud.Instance.NetworkParams'
            region:
              type: string
            sshKeyId:
              type: string
            userData:
              type: string
            volumeId:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Instance.InstanceDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/{instanceId}:
    parameters:
    - name: instanceId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get instance
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Instance.InstanceDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter an instance
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectInstancePut
        in: body
        schema:
          type: object
          required:
          - instanceName
          properties:
            instanceName:
              type: string
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete an instance
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/{instanceId}/activeMonthlyBilling:
    parameters:
    - name: instanceId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Active monthly billing on instance
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Instance.InstanceDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/{instanceId}/applicationAccess:
    parameters:
    - name: instanceId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Return initial credentials of applications installed from public image
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Instance.ApplicationAccess'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/{instanceId}/interface:
    parameters:
    - name: instanceId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get interfaces
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.InstanceInterface.Interface'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create interface on an instance and attached it to a network
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectInstanceInterfacePost
        in: body
        schema:
          type: object
          required:
          - networkId
          properties:
            ip:
              type: string
            networkId:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.InstanceInterface.Interface'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/{instanceId}/interface/{interfaceId}:
    parameters:
    - name: instanceId
      in: path
      required: true
      type: string
    - name: interfaceId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get interface
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.InstanceInterface.Interface'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete an interface
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/{instanceId}/monitoring:
    parameters:
    - name: instanceId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Return many statistics about the virtual machine for a given period
      description: PRODUCTION - authentication required
      parameters:
      - name: period
        in: query
        required: true
        type: string
        enum:
        - lastday
        - lastmonth
        - lastweek
        - lastyear
        - today
      - name: type
        in: query
        required: true
        type: string
        enum:
        - mem:used
        - mem:max
        - cpu:used
        - cpu:max
        - net:tx
        - net:rx
      responses:
        "200":
          $ref: '#/responses/cloud.Instance.InstanceMetrics'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/{instanceId}/reboot:
    parameters:
    - name: instanceId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Reboot an instance
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectInstanceRebootPost
        in: body
        schema:
          type: object
          required:
          - type
          properties:
            type:
              type: string
              enum:
              - soft
              - hard
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/{instanceId}/reinstall:
    parameters:
    - name: instanceId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Reinstall an instance
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectInstanceReinstallPost
        in: body
        schema:
          type: object
          required:
          - imageId
          properties:
            imageId:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Instance.InstanceDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/{instanceId}/rescueMode:
    parameters:
    - name: instanceId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Enable or disable rescue mode
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectInstanceRescueModePost
        in: body
        schema:
          type: object
          required:
          - rescue
          properties:
            imageId:
              type: string
            rescue:
              type: boolean
              default: false
      responses:
        "200":
          $ref: '#/responses/cloud.Instance.RescueAdminPassword'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/{instanceId}/resize:
    parameters:
    - name: instanceId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Migrate your instance to another flavor
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectInstanceResizePost
        in: body
        schema:
          type: object
          required:
          - flavorId
          properties:
            flavorId:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Instance.InstanceDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/{instanceId}/resume:
    parameters:
    - name: instanceId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Resume a suspended instance
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/{instanceId}/snapshot:
    parameters:
    - name: instanceId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Snapshot an instance
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectInstanceSnapshotPost
        in: body
        schema:
          type: object
          required:
          - snapshotName
          properties:
            snapshotName:
              type: string
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/{instanceId}/vnc:
    parameters:
    - name: instanceId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Get VNC access to your instance
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Instance.InstanceVnc'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/bulk:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Create multiple instances
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectInstanceBulkPost
        in: body
        schema:
          type: object
          required:
          - flavorId
          - name
          - number
          - region
          properties:
            flavorId:
              type: string
            groupId:
              type: string
            imageId:
              type: string
            monthlyBilling:
              type: boolean
              default: false
            name:
              type: string
            networks:
              type: array
              items:
                $ref: '#/definitions/cloud.Instance.NetworkBulkParams'
            number:
              type: integer
              format: int64
            region:
              type: string
            sshKeyId:
              type: string
            userData:
              type: string
            volumeId:
              type: string
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Instance.Instance'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/group:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get the detail of a group
      description: PRODUCTION - authentication required
      parameters:
      - name: region
        in: query
        type: string
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Instancegroup.InstanceGroup'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create a group
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectInstanceGroupPost
        in: body
        schema:
          type: object
          required:
          - name
          - region
          - type
          properties:
            name:
              type: string
            region:
              type: string
            type:
              type: string
              enum:
              - affinity
              - anti-affinity
      responses:
        "200":
          $ref: '#/responses/cloud.Instancegroup.InstanceGroup'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/instance/group/{groupId}:
    parameters:
    - name: groupId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get all groups
      description: PRODUCTION - authentication required
      parameters:
      - name: region
        in: query
        type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Instancegroup.InstanceGroup'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete a group
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/ip:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get ips
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Ip.CloudIp'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/ip/failover:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get failover ips
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Ip.FailoverIp'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/ip/failover/{id}:
    parameters:
    - name: id
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get failover ip
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Ip.FailoverIp'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/ip/failover/{id}/attach:
    parameters:
    - name: id
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Attach failover ip to an instance
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectIpFailoverAttachPost
        in: body
        schema:
          type: object
          required:
          - instanceId
          properties:
            instanceId:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Ip.FailoverIp'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/ipLoadbalancing:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Managed imported IP LB in OpenStack
      description: BETA - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Import an existing IP LB into OpenStack
      description: BETA - authentication required
      parameters:
      - name: cloudProjectIplbPost
        in: body
        schema:
          type: object
          required:
          - ipLoadbalancingServiceName
          - redirection
          properties:
            ipLoadbalancingServiceName:
              type: string
            redirection:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.IPLoadbalancing'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/ipLoadbalancing/{id}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: BETA - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.IPLoadbalancing'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete the import of your load balancing IP into OpenStack. This does
        not delete the IP LB but close the access of it from OpenStack
      description: BETA - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/ipLoadbalancing/{id}/renew:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
    post:
      summary: Renew the import of your load balancing IP into Openstack
      description: BETA - authentication required
      parameters:
      - name: cloudProjectIplbRenewPost
        in: body
        schema:
          type: object
          required:
          - redirection
          properties:
            redirection:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.IPLoadbalancing'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/ipLoadbalancing/{id}/validate:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
    post:
      summary: Validate the import of your load balancing IP into OpenStack
      description: BETA - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/migration:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get planned migrations
      description: BETA - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Migration.Migration'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/migration/{migrationId}:
    parameters:
    - name: migrationId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get planned migration
      description: BETA - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Migration.Migration'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Update planned migration
      description: BETA - authentication required
      parameters:
      - name: cloudProjectMigrationPut
        in: body
        schema:
          type: object
          required:
          - date
          properties:
            date:
              type: string
              format: date-time
      responses:
        "200":
          $ref: '#/responses/cloud.Migration.Migration'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/network/private:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get private networks
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Network.Network'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create a new network
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectNetworkPrivatePost
        in: body
        schema:
          type: object
          required:
          - name
          properties:
            name:
              type: string
            regions:
              type: array
              items:
                type: string
            vlanId:
              type: integer
              format: int64
      responses:
        "200":
          $ref: '#/responses/cloud.Network.Network'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/network/private/{networkId}:
    parameters:
    - name: networkId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get private network
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Network.Network'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Rename private network
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectNetworkPrivatePut
        in: body
        schema:
          type: object
          required:
          - name
          properties:
            name:
              type: string
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete private network
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/network/private/{networkId}/region:
    parameters:
    - name: networkId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Activate private network in a new region
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectNetworkPrivateRegionPost
        in: body
        schema:
          type: object
          required:
          - region
          properties:
            region:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Network.Network'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/network/private/{networkId}/subnet:
    parameters:
    - name: networkId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get network subnets
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Network.Subnet'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create a new network subnet
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectNetworkPrivateSubnetPost
        in: body
        schema:
          type: object
          required:
          - dhcp
          - end
          - network
          - noGateway
          - region
          - start
          properties:
            dhcp:
              type: boolean
              default: false
            end:
              type: string
            network:
              type: string
            noGateway:
              type: boolean
              default: false
            region:
              type: string
            start:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Network.Subnet'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/network/private/{networkId}/subnet/{subnetId}:
    parameters:
    - name: networkId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    - name: subnetId
      in: path
      required: true
      type: string
    delete:
      summary: Delete a network subnet
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/network/public:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get public networks
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Network.Network'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/quota:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get project quotas
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Quota.Quotas'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/region:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get regions
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/region/{regionName}:
    parameters:
    - name: regionName
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get region
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Region.RegionDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/retain:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Do not expire the project, and retain it. You will have to pay for
        the resources you will use after using this call
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/serviceInfos:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/services.Service'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectServiceInfosPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/services.Service'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/snapshot:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get snapshots
      description: PRODUCTION - authentication required
      parameters:
      - name: flavorType
        in: query
        type: string
      - name: region
        in: query
        type: string
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Image.Image'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/snapshot/{snapshotId}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: snapshotId
      in: path
      required: true
      type: string
    get:
      summary: Get snapshot details
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Image.Image'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete a snapshot
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Image.Image'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/sshkey:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get SSH keys
      description: PRODUCTION - authentication required
      parameters:
      - name: region
        in: query
        type: string
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Sshkey.SshKey'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create SSH key
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectSshkeyPost
        in: body
        schema:
          type: object
          required:
          - name
          - publicKey
          properties:
            name:
              type: string
            publicKey:
              type: string
            region:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Sshkey.SshKeyDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/sshkey/{keyId}:
    parameters:
    - name: keyId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get SSH key
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Sshkey.SshKeyDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete SSH key
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/storage:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get storage containers
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Storage.Container'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create container
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectStoragePost
        in: body
        schema:
          type: object
          required:
          - archive
          - containerName
          - region
          properties:
            archive:
              type: boolean
              default: false
            containerName:
              type: string
            region:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Storage.Container'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/storage/{containerId}:
    parameters:
    - name: containerId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get storage container
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Storage.ContainerDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete container
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/storage/{containerId}/cors:
    parameters:
    - name: containerId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Add CORS support on your container
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectStorageCorsPost
        in: body
        schema:
          type: object
          required:
          - origin
          properties:
            origin:
              type: string
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete CORS support on your container
      description: PRODUCTION - authentication required
      parameters:
      - name: origin
        in: query
        required: true
        type: string
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/storage/{containerId}/publicUrl:
    parameters:
    - name: containerId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Get a public temporary URL to access to one of your object
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectStoragePublicUrlPost
        in: body
        schema:
          type: object
          required:
          - expirationDate
          - objectName
          properties:
            expirationDate:
              type: string
              format: date-time
            objectName:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Storage.ContainerObjectTempURL'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/storage/{containerId}/static:
    parameters:
    - name: containerId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Deploy your container files as a static web site
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/storage/{containerId}/user:
    parameters:
    - name: containerId
      in: path
      required: true
      type: string
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Create openstack user with only access to this container
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectStorageUserPost
        in: body
        schema:
          type: object
          required:
          - right
          properties:
            description:
              type: string
            right:
              type: string
              enum:
              - all
              - read
              - write
      responses:
        "200":
          $ref: '#/responses/cloud.User.UserDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/storage/access:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Access to storage API
      description: DEPRECATED (see '/cloud/project/{serviceName}/storage/access')
        - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Storage.ContainerAccess'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Access to storage API
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Storage.ContainerAccess'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/terminate:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Terminate your service
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/unleash:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    post:
      summary: Request more quota on your /cloud project
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/usage/current:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get current usage
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Usage.UsageCurrent'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/usage/forecast:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get usage forecast
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Usage.UsageForecast'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/usage/history:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Usage information on your project
      description: PRODUCTION - authentication required
      parameters:
      - name: from
        in: query
        type: string
        format: date-time
      - name: to
        in: query
        type: string
        format: date-time
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Usage.UsageHistory'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/usage/history/{usageId}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: usageId
      in: path
      required: true
      type: string
    get:
      summary: Usage information details
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Usage.UsageHistoryDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/user:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get all users
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.User.User'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create user
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectUserPost
        in: body
        schema:
          type: object
          properties:
            description:
              type: string
            role:
              type: string
              enum:
              - admin
              - authentication
      responses:
        "200":
          $ref: '#/responses/cloud.User.UserDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/user/{userId}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: userId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get user details
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.User.User'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete user
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/user/{userId}/openrc:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: userId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get RC file of OpenStack
      description: PRODUCTION - authentication required
      parameters:
      - name: region
        in: query
        required: true
        type: string
      responses:
        "200":
          $ref: '#/responses/cloud.User.Openrc'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/user/{userId}/rclone:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: userId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get rclone configuration file
      description: PRODUCTION - authentication required
      parameters:
      - name: region
        in: query
        required: true
        type: string
      responses:
        "200":
          $ref: '#/responses/cloud.User.Rclone'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/user/{userId}/regeneratePassword:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: userId
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Regenerate user password
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.User.UserDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/user/{userId}/token:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: userId
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Get token for user
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectUserTokenPost
        in: body
        schema:
          type: object
          required:
          - password
          properties:
            password:
              type: string
              format: password
      responses:
        "200":
          $ref: '#/responses/cloud.Authentication.Token'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/volume:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get volumes
      description: PRODUCTION - authentication required
      parameters:
      - name: region
        in: query
        type: string
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Volume.Volume'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create a volume
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectVolumePost
        in: body
        schema:
          type: object
          required:
          - region
          - size
          - type
          properties:
            description:
              type: string
            imageId:
              type: string
            name:
              type: string
            region:
              type: string
            size:
              type: integer
              format: int64
            snapshotId:
              type: string
            type:
              type: string
              enum:
              - classic
              - high-speed
      responses:
        "200":
          $ref: '#/responses/cloud.Volume.Volume'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/volume/{volumeId}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: volumeId
      in: path
      required: true
      type: string
    get:
      summary: Get volume details
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Volume.Volume'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Update a volume
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectVolumePut
        in: body
        schema:
          type: object
          properties:
            description:
              type: string
            name:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Volume.Volume'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete a volume
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/volume/{volumeId}/attach:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: volumeId
      in: path
      required: true
      type: string
    post:
      summary: Attach a volume on an instance
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectVolumeAttachPost
        in: body
        schema:
          type: object
          required:
          - instanceId
          properties:
            instanceId:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Volume.Volume'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/volume/{volumeId}/detach:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: volumeId
      in: path
      required: true
      type: string
    post:
      summary: Detach a volume from an instance
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectVolumeDetachPost
        in: body
        schema:
          type: object
          required:
          - instanceId
          properties:
            instanceId:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Volume.Volume'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/volume/{volumeId}/snapshot:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: volumeId
      in: path
      required: true
      type: string
    post:
      summary: Snapshot a volume
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectVolumeSnapshotPost
        in: body
        schema:
          type: object
          properties:
            description:
              type: string
            name:
              type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Volume.Snapshot'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/volume/{volumeId}/upsize:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: volumeId
      in: path
      required: true
      type: string
    post:
      summary: Extend a volume
      description: PRODUCTION - authentication required
      parameters:
      - name: cloudProjectVolumeUpsizePost
        in: body
        schema:
          type: object
          required:
          - size
          properties:
            size:
              type: integer
              format: int64
      responses:
        "200":
          $ref: '#/responses/cloud.Volume.Volume'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/volume/snapshot:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get volume snapshots
      description: PRODUCTION - authentication required
      parameters:
      - name: region
        in: query
        type: string
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/cloud.Volume.Snapshot'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/volume/snapshot/{snapshotId}:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    - name: snapshotId
      in: path
      required: true
      type: string
    get:
      summary: Get volume snapshot details
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/cloud.Volume.Snapshot'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete a volume snapshot
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/project/{serviceName}/vrack:
    parameters:
    - name: serviceName
      in: path
      required: true
      type: string
    get:
      summary: Get vrack where this project is associated
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/vrack.Vrack'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /cloud/subsidiaryPrice:
    get:
      summary: Get services prices for a subsidiary
      description: PRODUCTION
      parameters:
      - name: flavorId
        in: query
        type: string
      - name: ovhSubsidiary
        in: query
        required: true
        type: string
        enum:
        - ASIA
        - AU
        - CA
        - CZ
        - DE
        - ES
        - EU
        - FI
        - FR
        - GB
        - IE
        - IT
        - LT
        - MA
        - NL
        - PL
        - PT
        - QC
        - SG
        - SN
        - TN
        - US
        - WE
        - WS
      - name: region
        in: query
        type: string
      responses:
        "200":
          $ref: '#/responses/cloud.Price'
        default:
          $ref: '#/responses/OVH.Error'
definitions:
  cloud.Acl:
    description: Cloud ACL
    type: object
    required:
    - type
    - accountId
    properties:
      accountId:
        description: OVH customer unique identifier
        type: string
        readOnly: true
      type:
        description: ACL type
        type: string
        readOnly: true
        enum:
        - readOnly
        - readWrite
  cloud.Alerting:
    description: Cloud alerting consumption
    type: object
    required:
    - id
    - formattedMonthlyThreshold
    - creationDate
    properties:
      creationDate:
        description: Alerting creation date
        type: string
        format: date-time
        readOnly: true
      delay:
        description: Delay between alerts in seconds
        type: integer
        format: int64
        enum:
        - 10800
        - 172800
        - 21600
        - 259200
        - 3600
        - 43200
        - 604800
        - 86400
      email:
        description: Email to contact
        type: string
      formattedMonthlyThreshold:
        $ref: '#/definitions/order.Price'
      id:
        description: Alerting unique UUID
        type: string
        readOnly: true
      monthlyThreshold:
        description: Monthly threshold for this alerting
        type: integer
        format: int64
  cloud.AlertingAlert:
    description: Cloud alert on your consumption
    type: object
    required:
    - alertDate
    - emails
    - alertId
    properties:
      alertDate:
        description: Alert date
        type: string
        format: date-time
        readOnly: true
      alertId:
        description: Alert id
        type: integer
        format: int64
        readOnly: true
      emails:
        description: Alert sent to
        type: array
        readOnly: true
        items:
          type: string
  cloud.Api.Resource:
    description: Resource
    type: object
    required:
    - id
    - path
    properties:
      id:
        description: Resource ID
        type: string
        readOnly: true
      path:
        description: Resource path
        type: string
        readOnly: true
  cloud.ArchiveStoragePrice:
    description: Details about archive storage pricing
    type: object
    properties:
      monthlyPrice:
        $ref: '#/definitions/order.Price'
      region:
        description: Archive region
        type: string
  cloud.Authentication.Catalog:
    description: Catalog
    type: object
    required:
    - endpoints
    - id
    - type
    properties:
      endpoints:
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/cloud.Authentication.Endpoint'
      id:
        type: string
        readOnly: true
      type:
        type: string
        readOnly: true
  cloud.Authentication.Domain:
    description: Domain
    type: object
    required:
    - name
    properties:
      name:
        type: string
        readOnly: true
  cloud.Authentication.Endpoint:
    description: Endpoint
    type: object
    required:
    - url
    - id
    - legacy_endpoint_id
    - service_id
    - region_id
    - interface
    properties:
      id:
        type: string
        readOnly: true
      interface:
        type: string
        readOnly: true
      legacy_endpoint_id:
        type: string
        readOnly: true
      region_id:
        type: string
        readOnly: true
      service_id:
        type: string
        readOnly: true
      url:
        type: string
        readOnly: true
  cloud.Authentication.OpenstackToken:
    description: OpenstackToken
    type: object
    required:
    - methods
    - user
    - roles
    - catalog
    - expires_at
    - project
    - issued_at
    properties:
      catalog:
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/cloud.Authentication.Catalog'
      expires_at:
        type: string
        format: date-time
        readOnly: true
      issued_at:
        type: string
        format: date-time
        readOnly: true
      methods:
        type: array
        readOnly: true
        items:
          type: string
      project:
        $ref: '#/definitions/cloud.Authentication.TokenProject'
      roles:
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/cloud.Authentication.Role'
      user:
        $ref: '#/definitions/cloud.Authentication.UserToken'
  cloud.Authentication.Role:
    description: Role
    type: object
    required:
    - name
    - id
    properties:
      id:
        type: string
        readOnly: true
      name:
        type: string
        readOnly: true
  cloud.Authentication.Token:
    description: Token
    type: object
    required:
    - X-Auth-Token
    - token
    properties:
      X-Auth-Token:
        type: string
        readOnly: true
      token:
        $ref: '#/definitions/cloud.Authentication.OpenstackToken'
  cloud.Authentication.TokenProject:
    description: TokenProject
    type: object
    required:
    - domain
    - name
    - id
    properties:
      domain:
        $ref: '#/definitions/cloud.Authentication.Domain'
      id:
        type: string
        readOnly: true
      name:
        type: string
        readOnly: true
  cloud.Authentication.UserToken:
    description: UserToken
    type: object
    required:
    - name
    - id
    - domain
    properties:
      domain:
        $ref: '#/definitions/cloud.Authentication.Domain'
      id:
        type: string
        readOnly: true
      name:
        type: string
        readOnly: true
  cloud.BandwidthStoragePrice:
    description: Details about bandwidth storage pricing
    type: object
    properties:
      price:
        $ref: '#/definitions/order.Price'
      region:
        description: Bandwidth storage region
        type: string
  cloud.BillingView.BandwidthStorage:
    description: BandwidthStorage
    type: object
    required:
    - quantity
    - totalPrice
    properties:
      quantity:
        $ref: '#/definitions/cloud.BillingView.Quantity'
      totalPrice:
        description: Total price
        type: number
        format: double
        readOnly: true
  cloud.BillingView.HourlyInstance:
    description: HourlyInstance
    type: object
    required:
    - quantity
    - region
    - details
    - reference
    - totalPrice
    properties:
      details:
        description: Details about hourly instances
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/cloud.BillingView.HourlyInstanceDetail'
      quantity:
        $ref: '#/definitions/cloud.BillingView.Quantity'
      reference:
        description: Instance reference
        type: string
        readOnly: true
      region:
        description: Instance region
        type: string
        readOnly: true
      totalPrice:
        description: Total price
        type: number
        format: double
        readOnly: true
  cloud.BillingView.HourlyInstanceDetail:
    description: HourlyInstanceDetail
    type: object
    required:
    - quantity
    - instanceId
    - totalPrice
    properties:
      instanceId:
        description: Instance ID
        type: string
        readOnly: true
      quantity:
        $ref: '#/definitions/cloud.BillingView.Quantity'
      totalPrice:
        description: Total price
        type: number
        format: double
        readOnly: true
  cloud.BillingView.HourlyResources:
    description: HourlyResources
    type: object
    required:
    - storage
    - volume
    - snapshot
    - instance
    properties:
      instance:
        description: Details about hourly instances
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/cloud.BillingView.HourlyInstance'
      snapshot:
        description: Details about hourly snapshots
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/cloud.BillingView.HourlySnapshot'
      storage:
        description: Details about hourly storage
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/cloud.BillingView.HourlyStorage'
      volume:
        description: Details about hourly volumes
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/cloud.BillingView.HourlyVolume'
  cloud.BillingView.HourlySnapshot:
    description: HourlySnapshot
    type: object
    required:
    - region
    - totalPrice
    properties:
      instance:
        $ref: '#/definitions/cloud.BillingView.InstanceSnapshot'
      region:
        description: Region
        type: string
        readOnly: true
      totalPrice:
        description: Total price
        type: number
        format: double
        readOnly: true
      volume:
        $ref: '#/definitions/cloud.BillingView.VolumeSnapshot'
  cloud.BillingView.HourlyStorage:
    description: HourlyStorage
    type: object
    required:
    - region
    - type
    - totalPrice
    properties:
      incomingBandwidth:
        $ref: '#/definitions/cloud.BillingView.BandwidthStorage'
      outgoingBandwidth:
        $ref: '#/definitions/cloud.BillingView.BandwidthStorage'
      region:
        description: Region
        type: string
        readOnly: true
      stored:
        $ref: '#/definitions/cloud.BillingView.StoredStorage'
      totalPrice:
        description: Total price
        type: number
        format: double
        readOnly: true
      type:
        description: Storage type
        type: string
        readOnly: true
        enum:
        - pcs
        - pca
  cloud.BillingView.HourlyVolume:
    description: HourlyVolume
    type: object
    required:
    - type
    - details
    - totalPrice
    - quantity
    - region
    properties:
      details:
        description: Detail about volume consumption
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/cloud.BillingView.HourlyVolumeDetail'
      quantity:
        $ref: '#/definitions/cloud.BillingView.Quantity'
      region:
        description: Region
        type: string
        readOnly: true
      totalPrice:
        description: Total price
        type: number
        format: double
        readOnly: true
      type:
        description: Volume type
        type: string
        readOnly: true
  cloud.BillingView.HourlyVolumeDetail:
    description: HourlyVolumeDetail
    type: object
    required:
    - totalPrice
    - quantity
    - volumeId
    properties:
      quantity:
        $ref: '#/definitions/cloud.BillingView.Quantity'
      totalPrice:
        description: Total price
        type: number
        format: double
        readOnly: true
      volumeId:
        description: Volume ID
        type: string
        readOnly: true
  cloud.BillingView.InstanceSnapshot:
    description: InstanceSnapshot
    type: object
    required:
    - quantity
    - totalPrice
    properties:
      quantity:
        $ref: '#/definitions/cloud.BillingView.Quantity'
      totalPrice:
        description: Total price
        type: number
        format: double
        readOnly: true
  cloud.BillingView.MonthlyInstance:
    description: MonthlyInstance
    type: object
    required:
    - totalPrice
    - region
    - details
    - reference
    properties:
      details:
        description: Details about monthly instances
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/cloud.BillingView.MonthlyInstanceDetail'
      reference:
        description: Instance reference
        type: string
        readOnly: true
      region:
        description: Instance region
        type: string
        readOnly: true
      totalPrice:
        description: Total price
        type: number
        format: double
        readOnly: true
  cloud.BillingView.MonthlyInstanceDetail:
    description: MonthlyInstanceDetail
    type: object
    required:
    - activation
    - instanceId
    - totalPrice
    properties:
      activation:
        description: Monthly instance activation
        type: string
        format: date-time
        readOnly: true
      instanceId:
        description: Instance ID
        type: string
        readOnly: true
      totalPrice:
        description: Total price
        type: number
        format: double
        readOnly: true
  cloud.BillingView.MonthlyResources:
    description: MonthlyResources
    type: object
    required:
    - instance
    properties:
      instance:
        description: Details about monthly instances
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/cloud.BillingView.MonthlyInstance'
  cloud.BillingView.Quantity:
    description: Quantity
    type: object
    required:
    - unit
    - value
    properties:
      unit:
        description: Quantity unit
        type: string
        readOnly: true
        enum:
        - GiB
        - GiBh
        - Hour
      value:
        description: Quantity value
        type: number
        format: double
        readOnly: true
  cloud.BillingView.StoredStorage:
    description: StoredStorage
    type: object
    required:
    - totalPrice
    - quantity
    properties:
      quantity:
[...]
