swagger: "2.0"
info:
  title: OVH API - EU
  description: Build your own OVH world.
  version: 1.0.0
  contact:
    name: OVH API EU
    url: https://eu.api.ovh.com/
    email: api-subscribe@ml.ovh.net
  license:
    name: © OVH SAS
    url: https://eu.api.ovh.com/
host: eu.api.ovh.com
basePath: /1.0
schemes:
- https
consumes:
- application/json
produces:
- application/json
externalDocs:
  url: https://eu.api.ovh.com/
  description: Online version
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    name: X-Ovh-Consumer
    in: header
paths:
  /me:
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.Nichandle'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: mePut
        in: body
        required: true
        schema:
          $ref: '#/definitions/nichandle.Nichandle'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/backupCode:
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.AccessRestriction.SOTPAccount'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Add a SOTP access restriction
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.AccessRestriction.SOTPSecret'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete this Two-Factor
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/backupCode/disable:
    post:
      summary: Disable this SOTP account
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionBackupCodeDisablePost
        in: body
        schema:
          type: object
          required:
          - code
          properties:
            code:
              type: string
              format: password
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/backupCode/enable:
    post:
      summary: Enable this SOTP account
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionBackupCodeEnablePost
        in: body
        schema:
          type: object
          required:
          - code
          properties:
            code:
              type: string
              format: password
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/backupCode/validate:
    post:
      summary: Validate your SOTP account
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionBackupCodeValidatePost
        in: body
        schema:
          type: object
          required:
          - code
          properties:
            code:
              type: string
              format: password
      responses:
        "200":
          $ref: '#/responses/nichandle.AccessRestriction.SOTPValidate'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/developerMode:
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.DeveloperModeRestriction'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionDeveloperModePut
        in: body
        required: true
        schema:
          $ref: '#/definitions/nichandle.DeveloperModeRestriction'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/ip:
    get:
      summary: List of IP restrictions
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Add an IP access restriction
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionIpPost
        in: body
        schema:
          type: object
          required:
          - ip
          - warning
          - rule
          properties:
            ip:
              type: string
            rule:
              type: string
              enum:
              - accept
              - deny
            warning:
              type: boolean
              default: false
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/ip/{id}:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.IpRestriction'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionIpPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/nichandle.IpRestriction'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete this restriction rule
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/ipDefaultRule:
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.IpRestrictionDefaultRule'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionIpDefaultRulePut
        in: body
        required: true
        schema:
          $ref: '#/definitions/nichandle.IpRestrictionDefaultRule'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/sms:
    get:
      summary: List of Sms accounts
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Add a SMS access restriction
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionSmsPost
        in: body
        schema:
          type: object
          required:
          - phone
          properties:
            phone:
              type: string
      responses:
        "200":
          $ref: '#/responses/nichandle.AccessRestriction.SmsSecret'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/sms/{id}:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.AccessRestriction.SmsAccount'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionSmsPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/nichandle.AccessRestriction.SmsAccount'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete this Two-Factor
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/sms/{id}/disable:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Disable this SMS account
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionSmsDisablePost
        in: body
        schema:
          type: object
          required:
          - code
          properties:
            code:
              type: string
              format: password
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/sms/{id}/enable:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Enable this SMS account
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionSmsEnablePost
        in: body
        schema:
          type: object
          required:
          - code
          properties:
            code:
              type: string
              format: password
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/sms/{id}/sendCode:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Send a SMS to this account
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.AccessRestriction.SmsCode'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/sms/{id}/validate:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Validate your SMS account
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionSmsValidatePost
        in: body
        schema:
          type: object
          required:
          - code
          properties:
            code:
              type: string
              format: password
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/totp:
    get:
      summary: List of TOTP accounts
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Add a TOTP access restriction
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.AccessRestriction.TOTPSecret'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/totp/{id}:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.AccessRestriction.TOTPAccount'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionTotpPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/nichandle.AccessRestriction.TOTPAccount'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete this Two-Factor
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/totp/{id}/disable:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Disable this TOTP account
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionTotpDisablePost
        in: body
        schema:
          type: object
          required:
          - code
          properties:
            code:
              type: string
              format: password
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/totp/{id}/enable:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Enable this TOTP account
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionTotpEnablePost
        in: body
        schema:
          type: object
          required:
          - code
          properties:
            code:
              type: string
              format: password
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/totp/{id}/validate:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Validate your TOTP account
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionTotpValidatePost
        in: body
        schema:
          type: object
          required:
          - code
          properties:
            code:
              type: string
              format: password
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/u2f:
    get:
      summary: List of U2F accounts
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Add a U2F access restriction
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.AccessRestriction.U2FRegisterChallenge'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/u2f/{id}:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.AccessRestriction.U2FAccount'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionU2fPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/nichandle.AccessRestriction.U2FAccount'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete this Two-Factor
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/u2f/{id}/challenge:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Get an U2F Challenge
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.AccessRestriction.U2FSignChallenge'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/u2f/{id}/disable:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Disable this U2F account
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionU2fDisablePost
        in: body
        schema:
          type: object
          required:
          - signatureData
          - clientData
          properties:
            clientData:
              type: string
            signatureData:
              type: string
              format: password
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/u2f/{id}/enable:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Enable this U2F account
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionU2fEnablePost
        in: body
        schema:
          type: object
          required:
          - signatureData
          - clientData
          properties:
            clientData:
              type: string
            signatureData:
              type: string
              format: password
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/accessRestriction/u2f/{id}/validate:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Validate your U2F account
      description: PRODUCTION - authentication required
      parameters:
      - name: meAccessRestrictionU2fValidatePost
        in: body
        schema:
          type: object
          required:
          - registrationData
          - clientData
          properties:
            clientData:
              type: string
            registrationData:
              type: string
              format: password
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/agreements:
    get:
      summary: List of contracts signed between you and OVH
      description: PRODUCTION - authentication required
      parameters:
      - name: agreed
        in: query
        type: string
        enum:
        - ko
        - obsolete
        - ok
        - todo
      - name: contractId
        in: query
        type: integer
        format: int64
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/agreements/{id}:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/agreements.ContractAgreement'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/agreements/{id}/accept:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Accept this contract
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/agreements/{id}/contract:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/agreements.Contract'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/api/application:
    get:
      summary: List of your Api Application
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/api/application/{applicationId}:
    parameters:
    - name: applicationId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/api.Application'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Remove this application. It will revoke all credential belonging to
        this application.
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/api/credential:
    get:
      summary: List of your Api Credentials
      description: PRODUCTION - authentication required
      parameters:
      - name: status
        in: query
        type: string
        enum:
        - expired
        - pendingValidation
        - refused
        - validated
      - name: applicationId
        in: query
        type: integer
        format: int64
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/api/credential/{credentialId}:
    parameters:
    - name: credentialId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/api.Credential'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Remove this credential
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/api/credential/{credentialId}/application:
    parameters:
    - name: credentialId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/api.Application'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/api/logs/self:
    get:
      summary: List of Api calls done with your account
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/api/logs/self/{logId}:
    parameters:
    - name: logId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/api.Log'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/api/logs/services:
    get:
      summary: List of Api calls done on services you have access to
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/api/logs/services/{logId}:
    parameters:
    - name: logId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/api.Log'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/autorenew:
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.NicAutorenewInfos'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: meAutorenewPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/nichandle.NicAutorenewInfos'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Activate auto renew for this nic
      description: PRODUCTION - authentication required
      parameters:
      - name: meAutorenewPost
        in: body
        schema:
          type: object
          required:
          - renewDay
          properties:
            renewDay:
              type: integer
              format: int64
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/availableAutomaticPaymentMeans:
    get:
      summary: List available payment methods in this Nic's country
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.AutomaticPaymentMean'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/bill:
    get:
      summary: List of all the bills the logged account has
      description: PRODUCTION - authentication required
      parameters:
      - name: orderId
        in: query
        type: integer
        format: int64
      - name: date.to
        in: query
        type: string
        format: date-time
      - name: date.from
        in: query
        type: string
        format: date-time
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/bill/{billId}:
    parameters:
    - name: billId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.Bill'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/bill/{billId}/debt:
    parameters:
    - name: billId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/debt.Debt'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/bill/{billId}/debt/operation:
    parameters:
    - name: billId
      in: path
      required: true
      type: string
    get:
      summary: All operations related to these debts
      description: PRODUCTION - authentication required
      parameters:
      - name: depositOrderId
        in: query
        type: integer
        format: int64
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/bill/{billId}/debt/operation/{operationId}:
    parameters:
    - name: billId
      in: path
      required: true
      type: string
    - name: operationId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/debt.Operation'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/bill/{billId}/debt/operation/{operationId}/associatedObject:
    parameters:
    - name: billId
      in: path
      required: true
      type: string
    - name: operationId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Return main data about the object related to this debt operation
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/debt.Entry.AssociatedObject'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/bill/{billId}/debt/pay:
    parameters:
    - name: billId
      in: path
      required: true
      type: string
    post:
      summary: Create an order in order to pay this order's debt
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.Order'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/bill/{billId}/details:
    parameters:
    - name: billId
      in: path
      required: true
      type: string
    get:
      summary: Give access to all entries of the bill
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/bill/{billId}/details/{billDetailId}:
    parameters:
    - name: billId
      in: path
      required: true
      type: string
    - name: billDetailId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.BillDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/bill/{billId}/payment:
    parameters:
    - name: billId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.Payment'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/certificates:
    get:
      summary: Get all certificates of the account
      description: PRODUCTION - authentication required
      parameters:
      - name: name
        in: query
        type: string
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/changeEmail:
    post:
      summary: Initiate an email change procedure
      description: PRODUCTION - authentication required
      parameters:
      - name: meChangeEmailPost
        in: body
        schema:
          type: object
          required:
          - newEmail
          properties:
            newEmail:
              type: string
      responses:
        "200":
          $ref: '#/responses/nichandle.EmailChange.Task'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/changePassword:
    post:
      summary: Initiate a password change procedure
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/contact:
    get:
      summary: Retrieve all contact that you created
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create a new contact
      description: PRODUCTION - authentication required
      parameters:
      - name: meContactPost
        in: body
        schema:
          type: object
          required:
          - address
          - phone
          - email
          - firstName
          - language
          - lastName
          - legalForm
          properties:
            address:
              $ref: '#/definitions/contact.Address'
            birthCity:
              type: string
            birthCountry:
              type: string
              enum:
              - AC
              - AD
              - AE
              - AF
              - AG
              - AI
              - AL
              - AM
              - AO
              - AQ
              - AR
              - AS
              - AT
              - AU
              - AW
              - AX
              - AZ
              - BA
              - BB
              - BD
              - BE
              - BF
              - BG
              - BH
              - BI
              - BJ
              - BL
              - BM
              - BN
              - BO
              - BQ
              - BR
              - BS
              - BT
              - BW
              - BY
              - BZ
              - CA
              - CC
              - CD
              - CF
              - CG
              - CH
              - CI
              - CK
              - CL
              - CM
              - CN
              - CO
              - CR
              - CU
              - CV
              - CW
              - CX
              - CY
              - CZ
              - DE
              - DG
              - DJ
              - DK
              - DM
              - DO
              - DZ
              - EA
              - EC
              - EE
              - EG
              - EH
              - ER
              - ES
              - ET
              - FI
              - FJ
              - FK
              - FM
              - FO
              - FR
              - GA
              - GB
              - GD
              - GE
              - GF
              - GG
              - GH
              - GI
              - GL
              - GM
              - GN
              - GP
              - GQ
              - GR
              - GS
              - GT
              - GU
              - GW
              - GY
              - HK
              - HN
              - HR
              - HT
              - HU
              - IC
              - ID
              - IE
              - IL
              - IM
              - IN
              - IO
              - IQ
              - IR
              - IS
              - IT
              - JE
              - JM
              - JO
              - JP
              - KE
              - KG
              - KH
              - KI
              - KM
              - KN
              - KP
              - KR
              - KW
              - KY
              - KZ
              - LA
              - LB
              - LC
              - LI
              - LK
              - LR
              - LS
              - LT
              - LU
              - LV
              - LY
              - MA
              - MC
              - MD
              - ME
              - MF
              - MG
              - MH
              - MK
              - ML
              - MM
              - MN
              - MO
              - MP
              - MQ
              - MR
              - MS
              - MT
              - MU
              - MV
              - MW
              - MX
              - MY
              - MZ
              - NA
              - NC
              - NE
              - NF
              - NG
              - NI
              - NL
              - "NO"
              - NP
              - NR
              - NU
              - NZ
              - OM
              - PA
              - PE
              - PF
              - PG
              - PH
              - PK
              - PL
              - PM
              - PN
              - PR
              - PS
              - PT
              - PW
              - PY
              - QA
              - RE
              - RO
              - RS
              - RU
              - RW
              - SA
              - SB
              - SC
              - SD
              - SE
              - SG
              - SH
              - SI
              - SJ
              - SK
              - SL
              - SM
              - SN
              - SO
              - SR
              - SS
              - ST
              - SV
              - SX
              - SY
              - SZ
              - TA
              - TC
              - TD
              - TF
              - TG
              - TH
              - TJ
              - TK
              - TL
              - TM
              - TN
              - TO
              - TR
              - TT
              - TV
              - TW
              - TZ
              - UA
              - UG
              - UM
              - UNKNOWN
              - US
              - UY
              - UZ
              - VA
              - VC
              - VE
              - VG
              - VI
              - VN
              - VU
              - WF
              - WS
              - XK
              - YE
              - YT
              - ZA
              - ZM
              - ZW
            birthDay:
              type: string
              format: date
            birthZip:
              type: string
            cellPhone:
              type: string
            companyNationalIdentificationNumber:
              type: string
            email:
              type: string
            fax:
              type: string
            firstName:
              type: string
            gender:
              type: string
              enum:
              - female
              - male
            language:
              type: string
              enum:
              - cs_CZ
              - de_DE
              - en_AU
              - en_CA
              - en_GB
              - en_IE
              - en_US
              - es_ES
              - fi_FI
              - fr_CA
              - fr_FR
              - fr_MA
              - fr_SN
              - fr_TN
              - it_IT
              - lt_LT
              - nl_NL
              - pl_PL
              - pt_PT
            lastName:
              type: string
            legalForm:
              type: string
              enum:
              - administration
              - association
              - corporation
              - individual
              - other
              - personalcorporation
            nationalIdentificationNumber:
              type: string
            nationality:
              type: string
              enum:
              - AC
              - AD
              - AE
              - AF
              - AG
              - AI
              - AL
              - AM
              - AO
              - AQ
              - AR
              - AS
              - AT
              - AU
              - AW
              - AX
              - AZ
              - BA
              - BB
              - BD
              - BE
              - BF
              - BG
              - BH
              - BI
              - BJ
              - BL
              - BM
              - BN
              - BO
              - BQ
              - BR
              - BS
              - BT
              - BW
              - BY
              - BZ
              - CA
              - CC
              - CD
              - CF
              - CG
              - CH
              - CI
              - CK
              - CL
              - CM
              - CN
              - CO
              - CR
              - CU
              - CV
              - CW
              - CX
              - CY
              - CZ
              - DE
              - DG
              - DJ
              - DK
              - DM
              - DO
              - DZ
              - EA
              - EC
              - EE
              - EG
              - EH
              - ER
              - ES
              - ET
              - FI
              - FJ
              - FK
              - FM
              - FO
              - FR
              - GA
              - GB
              - GD
              - GE
              - GF
              - GG
              - GH
              - GI
              - GL
              - GM
              - GN
              - GP
              - GQ
              - GR
              - GS
              - GT
              - GU
              - GW
              - GY
              - HK
              - HN
              - HR
              - HT
              - HU
              - IC
              - ID
              - IE
              - IL
              - IM
              - IN
              - IO
              - IQ
              - IR
              - IS
              - IT
              - JE
              - JM
              - JO
              - JP
              - KE
              - KG
              - KH
              - KI
              - KM
              - KN
              - KP
              - KR
              - KW
              - KY
              - KZ
              - LA
              - LB
              - LC
              - LI
              - LK
              - LR
              - LS
              - LT
              - LU
              - LV
              - LY
              - MA
              - MC
              - MD
              - ME
              - MF
              - MG
              - MH
              - MK
              - ML
              - MM
              - MN
              - MO
              - MP
              - MQ
              - MR
              - MS
              - MT
              - MU
              - MV
              - MW
              - MX
              - MY
              - MZ
              - NA
              - NC
              - NE
              - NF
              - NG
              - NI
              - NL
              - "NO"
              - NP
              - NR
              - NU
              - NZ
              - OM
              - PA
              - PE
              - PF
              - PG
              - PH
              - PK
              - PL
              - PM
              - PN
              - PR
              - PS
              - PT
              - PW
              - PY
              - QA
              - RE
              - RO
              - RS
              - RU
              - RW
              - SA
              - SB
              - SC
              - SD
              - SE
              - SG
              - SH
              - SI
              - SJ
              - SK
              - SL
              - SM
              - SN
              - SO
              - SR
              - SS
              - ST
              - SV
              - SX
              - SY
              - SZ
              - TA
              - TC
              - TD
              - TF
              - TG
              - TH
              - TJ
              - TK
              - TL
              - TM
              - TN
              - TO
              - TR
              - TT
              - TV
              - TW
              - TZ
              - UA
              - UG
              - UM
              - UNKNOWN
              - US
              - UY
              - UZ
              - VA
              - VC
              - VE
              - VG
              - VI
              - VN
              - VU
              - WF
              - WS
              - XK
              - YE
              - YT
              - ZA
              - ZM
              - ZW
            organisationName:
              type: string
            organisationType:
              type: string
            phone:
              type: string
            vat:
              type: string
      responses:
        "200":
          $ref: '#/responses/contact.Contact'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/contact/{contactId}:
    parameters:
    - name: contactId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Retrieve information about a contact
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/contact.Contact'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Update an existing contact
      description: PRODUCTION - authentication required
      parameters:
      - name: meContactPut
        in: body
        schema:
          type: object
          properties:
            address:
              $ref: '#/definitions/contact.Address'
            birthCity:
              type: string
            birthCountry:
              type: string
              enum:
              - AC
              - AD
              - AE
              - AF
              - AG
              - AI
              - AL
              - AM
              - AO
              - AQ
              - AR
              - AS
              - AT
              - AU
              - AW
              - AX
              - AZ
              - BA
              - BB
              - BD
              - BE
              - BF
              - BG
              - BH
              - BI
              - BJ
              - BL
              - BM
              - BN
              - BO
              - BQ
              - BR
              - BS
              - BT
              - BW
              - BY
              - BZ
              - CA
              - CC
              - CD
              - CF
              - CG
              - CH
              - CI
              - CK
              - CL
              - CM
              - CN
              - CO
              - CR
              - CU
              - CV
              - CW
              - CX
              - CY
              - CZ
              - DE
              - DG
              - DJ
              - DK
              - DM
              - DO
              - DZ
              - EA
              - EC
              - EE
              - EG
              - EH
              - ER
              - ES
              - ET
              - FI
              - FJ
              - FK
              - FM
              - FO
              - FR
              - GA
              - GB
              - GD
              - GE
              - GF
              - GG
              - GH
              - GI
              - GL
              - GM
              - GN
              - GP
              - GQ
              - GR
              - GS
              - GT
              - GU
              - GW
              - GY
              - HK
              - HN
              - HR
              - HT
              - HU
              - IC
              - ID
              - IE
              - IL
              - IM
              - IN
              - IO
              - IQ
              - IR
              - IS
              - IT
              - JE
              - JM
              - JO
              - JP
              - KE
              - KG
              - KH
              - KI
              - KM
              - KN
              - KP
              - KR
              - KW
              - KY
              - KZ
              - LA
              - LB
              - LC
              - LI
              - LK
              - LR
              - LS
              - LT
              - LU
              - LV
              - LY
              - MA
              - MC
              - MD
              - ME
              - MF
              - MG
              - MH
              - MK
              - ML
              - MM
              - MN
              - MO
              - MP
              - MQ
              - MR
              - MS
              - MT
              - MU
              - MV
              - MW
              - MX
              - MY
              - MZ
              - NA
              - NC
              - NE
              - NF
              - NG
              - NI
              - NL
              - "NO"
              - NP
              - NR
              - NU
              - NZ
              - OM
              - PA
              - PE
              - PF
              - PG
              - PH
              - PK
              - PL
              - PM
              - PN
              - PR
              - PS
              - PT
              - PW
              - PY
              - QA
              - RE
              - RO
              - RS
              - RU
              - RW
              - SA
              - SB
              - SC
              - SD
              - SE
              - SG
              - SH
              - SI
              - SJ
              - SK
              - SL
              - SM
              - SN
              - SO
              - SR
              - SS
              - ST
              - SV
              - SX
              - SY
              - SZ
              - TA
              - TC
              - TD
              - TF
              - TG
              - TH
              - TJ
              - TK
              - TL
              - TM
              - TN
              - TO
              - TR
              - TT
              - TV
              - TW
              - TZ
              - UA
              - UG
              - UM
              - UNKNOWN
              - US
              - UY
              - UZ
              - VA
              - VC
              - VE
              - VG
              - VI
              - VN
              - VU
              - WF
              - WS
              - XK
              - YE
              - YT
              - ZA
              - ZM
              - ZW
            birthDay:
              type: string
              format: date
            birthZip:
              type: string
            cellPhone:
              type: string
            companyNationalIdentificationNumber:
              type: string
            email:
              type: string
            fax:
              type: string
            firstName:
              type: string
            gender:
              type: string
              enum:
              - female
              - male
            language:
              type: string
              enum:
              - cs_CZ
              - de_DE
              - en_AU
              - en_CA
              - en_GB
              - en_IE
              - en_US
              - es_ES
              - fi_FI
              - fr_CA
              - fr_FR
              - fr_MA
              - fr_SN
              - fr_TN
              - it_IT
              - lt_LT
              - nl_NL
              - pl_PL
              - pt_PT
            lastName:
              type: string
            legalForm:
              type: string
              enum:
              - administration
              - association
              - corporation
              - individual
              - other
              - personalcorporation
            nationalIdentificationNumber:
              type: string
            nationality:
              type: string
              enum:
              - AC
              - AD
              - AE
              - AF
              - AG
              - AI
              - AL
              - AM
              - AO
              - AQ
              - AR
              - AS
              - AT
              - AU
              - AW
              - AX
              - AZ
              - BA
              - BB
              - BD
              - BE
              - BF
              - BG
              - BH
              - BI
              - BJ
              - BL
              - BM
              - BN
              - BO
              - BQ
              - BR
              - BS
              - BT
              - BW
              - BY
              - BZ
              - CA
              - CC
              - CD
              - CF
              - CG
              - CH
              - CI
              - CK
              - CL
              - CM
              - CN
              - CO
              - CR
              - CU
              - CV
              - CW
              - CX
              - CY
              - CZ
              - DE
              - DG
              - DJ
              - DK
              - DM
              - DO
              - DZ
              - EA
              - EC
              - EE
              - EG
              - EH
              - ER
              - ES
              - ET
              - FI
              - FJ
              - FK
              - FM
              - FO
              - FR
              - GA
              - GB
              - GD
              - GE
              - GF
              - GG
              - GH
              - GI
              - GL
              - GM
              - GN
              - GP
              - GQ
              - GR
              - GS
              - GT
              - GU
              - GW
              - GY
              - HK
              - HN
              - HR
              - HT
              - HU
              - IC
              - ID
              - IE
              - IL
              - IM
              - IN
              - IO
              - IQ
              - IR
              - IS
              - IT
              - JE
              - JM
              - JO
              - JP
              - KE
              - KG
              - KH
              - KI
              - KM
              - KN
              - KP
              - KR
              - KW
              - KY
              - KZ
              - LA
              - LB
              - LC
              - LI
              - LK
              - LR
              - LS
              - LT
              - LU
              - LV
              - LY
              - MA
              - MC
              - MD
              - ME
              - MF
              - MG
              - MH
              - MK
              - ML
              - MM
              - MN
              - MO
              - MP
              - MQ
              - MR
              - MS
              - MT
              - MU
              - MV
              - MW
              - MX
              - MY
              - MZ
              - NA
              - NC
              - NE
              - NF
              - NG
              - NI
              - NL
              - "NO"
              - NP
              - NR
              - NU
              - NZ
              - OM
              - PA
              - PE
              - PF
              - PG
              - PH
              - PK
              - PL
              - PM
              - PN
              - PR
              - PS
              - PT
              - PW
              - PY
              - QA
              - RE
              - RO
              - RS
              - RU
              - RW
              - SA
              - SB
              - SC
              - SD
              - SE
              - SG
              - SH
              - SI
              - SJ
              - SK
              - SL
              - SM
              - SN
              - SO
              - SR
              - SS
              - ST
              - SV
              - SX
              - SY
              - SZ
              - TA
              - TC
              - TD
              - TF
              - TG
              - TH
              - TJ
              - TK
              - TL
              - TM
              - TN
              - TO
              - TR
              - TT
              - TV
              - TW
              - TZ
              - UA
              - UG
              - UM
              - UNKNOWN
              - US
              - UY
              - UZ
              - VA
              - VC
              - VE
              - VG
              - VI
              - VN
              - VU
              - WF
              - WS
              - XK
              - YE
              - YT
              - ZA
              - ZM
              - ZW
            organisationName:
              type: string
            organisationType:
              type: string
            phone:
              type: string
            vat:
              type: string
      responses:
        "200":
          $ref: '#/responses/contact.Contact'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/contact/{contactId}/fields:
    parameters:
    - name: contactId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Display mandatory/read-only informations of a contact
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              $ref: '#/definitions/contact.FieldInformation'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/credit/balance:
    get:
      summary: Retrieve credit balance names
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/credit/balance/{balanceName}:
    parameters:
    - name: balanceName
      in: path
      required: true
      type: string
    get:
      summary: Retrieve a credit balance
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.Credit.Balance'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/credit/balance/{balanceName}/mouvement:
    parameters:
    - name: balanceName
      in: path
      required: true
      type: string
    get:
      summary: Retrieve mouvements for a specific balance
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/credit/balance/{balanceName}/mouvement/{mouvementId}:
    parameters:
    - name: balanceName
      in: path
      required: true
      type: string
    - name: mouvementId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Retrieve a specific mouvement for a credit balance
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.Credit.Balance.Mouvement'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/credit/code:
    post:
      summary: Validate a code for generate associated credit mouvement
      description: PRODUCTION - authentication required
      parameters:
      - name: meCreditCodePost
        in: body
        schema:
          type: object
          required:
          - inputCode
          properties:
            inputCode:
              type: string
      responses:
        "200":
          $ref: '#/responses/billing.Credit.Balance.Mouvement'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/debtAccount:
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/debt.Balance'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/debtAccount/debt:
    get:
      summary: All debts related to your account
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/debtAccount/debt/{debtId}:
    parameters:
    - name: debtId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/debt.Debt'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/debtAccount/debt/{debtId}/operation:
    parameters:
    - name: debtId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: All operations related to these debts
      description: PRODUCTION - authentication required
      parameters:
      - name: depositOrderId
        in: query
        type: integer
        format: int64
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/debtAccount/debt/{debtId}/operation/{operationId}:
    parameters:
    - name: debtId
      in: path
      required: true
      type: integer
      format: int64
    - name: operationId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/debt.Operation'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/debtAccount/debt/{debtId}/operation/{operationId}/associatedObject:
    parameters:
    - name: debtId
      in: path
      required: true
      type: integer
      format: int64
    - name: operationId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Return main data about the object related to this debt operation
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/debt.Entry.AssociatedObject'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/debtAccount/debt/{debtId}/pay:
    parameters:
    - name: debtId
      in: path
      required: true
      type: integer
      format: int64
    post:
      summary: Create an order in order to pay this order's debt
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.Order'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/debtAccount/pay:
    post:
      summary: Create an order in order to pay all your due debts
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.Order'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit:
    get:
      summary: List of all the deposits made to your prepaid account or debt account
      description: PRODUCTION - authentication required
      parameters:
      - name: orderId
        in: query
        type: integer
        format: int64
      - name: date.to
        in: query
        type: string
        format: date-time
      - name: date.from
        in: query
        type: string
        format: date-time
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.Deposit'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}/details:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    get:
      summary: Give access to all entries of this deposit
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}/details/{depositDetailId}:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    - name: depositDetailId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.DepositDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}/paidBills:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    get:
      summary: Get invoices paid by this deposit
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}/paidBills/{billId}:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    - name: billId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.Bill'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}/paidBills/{billId}/debt:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    - name: billId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/debt.Debt'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}/paidBills/{billId}/debt/operation:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    - name: billId
      in: path
      required: true
      type: string
    get:
      summary: All operations related to these debts
      description: PRODUCTION - authentication required
      parameters:
      - name: depositOrderId
        in: query
        type: integer
        format: int64
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}/paidBills/{billId}/debt/operation/{operationId}:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    - name: billId
      in: path
      required: true
      type: string
    - name: operationId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/debt.Operation'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}/paidBills/{billId}/debt/operation/{operationId}/associatedObject:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    - name: billId
      in: path
      required: true
      type: string
    - name: operationId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Return main data about the object related to this debt operation
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/debt.Entry.AssociatedObject'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}/paidBills/{billId}/debt/pay:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    - name: billId
      in: path
      required: true
      type: string
    post:
      summary: Create an order in order to pay this order's debt
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.Order'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}/paidBills/{billId}/details:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    - name: billId
      in: path
      required: true
      type: string
    get:
      summary: Give access to all entries of the bill
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}/paidBills/{billId}/details/{billDetailId}:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    - name: billId
      in: path
      required: true
      type: string
    - name: billDetailId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.BillDetail'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}/paidBills/{billId}/payment:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    - name: billId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.Payment'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/deposit/{depositId}/payment:
    parameters:
    - name: depositId
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.Payment'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/document:
    get:
      summary: List of documents added in your account
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create new document
      description: PRODUCTION - authentication required
      parameters:
      - name: meDocumentPost
        in: body
        schema:
          type: object
          required:
          - name
          properties:
            name:
              type: string
            tags:
              type: array
              items:
                $ref: '#/definitions/complexType.SafeKeyValue.String'
      responses:
        "200":
          $ref: '#/responses/nichandle.Document.Document'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/document/{id}:
    parameters:
    - name: id
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/nichandle.Document.Document'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: meDocumentPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/nichandle.Document.Document'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete a document
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/document/cors:
    post:
      summary: Add CORS support on your container
      description: PRODUCTION - authentication required
      parameters:
      - name: meDocumentCorsPost
        in: body
        schema:
          type: object
          required:
          - origin
          properties:
            origin:
              type: string
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/fax/customDomains:
    get:
      summary: Get the fax custom domains linked to the customer account
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create a custom domain for your fax services
      description: PRODUCTION - authentication required
      parameters:
      - name: meFaxCustomDomainsPost
        in: body
        schema:
          type: object
          required:
          - domain
          properties:
            domain:
              type: string
      responses:
        "200":
          $ref: '#/responses/telephony.MailDomain2Service'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/fax/customDomains/{id}:
    parameters:
    - name: id
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/telephony.MailDomain2Service'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Delete a custom domain of your fax services
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/fidelityAccount:
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.FidelityAccount'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: meFidelityAccountPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/billing.FidelityAccount'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/fidelityAccount/creditOrder:
    post:
      summary: Generate an order that can be paid in order to credit the fidelity
        account
      description: PRODUCTION - authentication required
      parameters:
      - name: meFidelityAccountCreditOrderPost
        in: body
        schema:
          type: object
          required:
          - amount
          properties:
            amount:
              type: integer
              format: int64
      responses:
        "200":
          $ref: '#/responses/billing.Order'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/fidelityAccount/movements:
    get:
      summary: List of entries of the fidelity account
      description: PRODUCTION - authentication required
      parameters:
      - name: date.to
        in: query
        type: string
        format: date-time
      - name: date.from
        in: query
        type: string
        format: date-time
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: integer
              format: int64
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/fidelityAccount/movements/{movementId}:
    parameters:
    - name: movementId
      in: path
      required: true
      type: integer
      format: int64
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/billing.FidelityMovement'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/geolocation:
    post:
      summary: Fetch visitor country & region
      description: PRODUCTION
      responses:
        "200":
          $ref: '#/responses/geolocation.ContinentCountryLocation'
        default:
          $ref: '#/responses/OVH.Error'
  /me/installationTemplate:
    get:
      summary: Your customized operating system installation templates
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Create a template
      description: PRODUCTION - authentication required
      parameters:
      - name: meInstallationTemplatePost
        in: body
        schema:
          type: object
          required:
          - defaultLanguage
          - name
          - baseTemplateName
          properties:
            baseTemplateName:
              type: string
            defaultLanguage:
              type: string
              enum:
              - ar
              - bg
              - cs
              - da
              - de
              - el
              - en
              - es
              - et
              - fi
              - fr
              - he
              - hr
              - hu
              - it
              - ja
              - ko
              - lt
              - lv
              - nb
              - nl
              - "no"
              - pl
              - pt
              - ro
              - ru
              - sk
              - sl
              - sr
              - sv
              - th
              - tr
              - tu
              - uk
              - zh-Hans-CN
              - zh-Hans-HK
            name:
              type: string
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/installationTemplate/{templateName}:
    parameters:
    - name: templateName
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/dedicated.InstallationTemplate.Templates'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: meInstallationTemplatePut
        in: body
        required: true
        schema:
          $ref: '#/definitions/dedicated.InstallationTemplate.Templates'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: remove this template
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/installationTemplate/{templateName}/checkIntegrity:
    parameters:
    - name: templateName
      in: path
      required: true
      type: string
    post:
      summary: Check the integrity of this template
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/installationTemplate/{templateName}/partitionScheme:
    parameters:
    - name: templateName
      in: path
      required: true
      type: string
    get:
      summary: Partitioning schemes available on this template
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Add a scheme of partition
      description: PRODUCTION - authentication required
      parameters:
      - name: meInstallationTemplatePartitionSchemePost
        in: body
        schema:
          type: object
          required:
          - priority
          - name
          properties:
            name:
              type: string
            priority:
              type: integer
              format: int64
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/installationTemplate/{templateName}/partitionScheme/{schemeName}:
    parameters:
    - name: templateName
      in: path
      required: true
      type: string
    - name: schemeName
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/dedicated.InstallationTemplate.TemplatePartitioningSchemes'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: meInstallationTemplatePartitionSchemePut
        in: body
        required: true
        schema:
          $ref: '#/definitions/dedicated.InstallationTemplate.TemplatePartitioningSchemes'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: remove this scheme of partition
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/installationTemplate/{templateName}/partitionScheme/{schemeName}/hardwareRaid:
    parameters:
    - name: templateName
      in: path
      required: true
      type: string
    - name: schemeName
      in: path
      required: true
      type: string
    get:
      summary: Hardware RAIDs defined in this partitioning scheme
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Add an hardware RAID in this partitioning scheme
      description: PRODUCTION - authentication required
      parameters:
      - name: meInstallationTemplatePartitionSchemeHardwareRaidPost
        in: body
        schema:
          type: object
          required:
          - disks
          - step
          - mode
          - name
          properties:
            disks:
              type: array
              items:
                type: string
            mode:
              type: string
              enum:
              - raid0
              - raid1
              - raid10
              - raid5
              - raid50
              - raid6
              - raid60
            name:
              type: string
            step:
              type: integer
              format: int64
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/installationTemplate/{templateName}/partitionScheme/{schemeName}/hardwareRaid/{name}:
    parameters:
    - name: templateName
      in: path
      required: true
      type: string
    - name: schemeName
      in: path
      required: true
      type: string
    - name: name
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/dedicated.InstallationTemplate.HardwareRaid'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: meInstallationTemplatePartitionSchemeHardwareRaidPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/dedicated.InstallationTemplate.HardwareRaid'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: Remove this RAID
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/installationTemplate/{templateName}/partitionScheme/{schemeName}/partition:
    parameters:
    - name: templateName
      in: path
      required: true
      type: string
    - name: schemeName
      in: path
      required: true
      type: string
    get:
      summary: Partitions defined in this partitioning scheme
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Add a partition in this partitioning scheme
      description: PRODUCTION - authentication required
      parameters:
      - name: meInstallationTemplatePartitionSchemePartitionPost
        in: body
        schema:
          type: object
          required:
          - step
          - filesystem
          - mountpoint
          - type
          - size
          properties:
            filesystem:
              type: string
              enum:
              - btrfs
              - ext3
              - ext4
              - ntfs
              - reiserfs
              - swap
              - ufs
              - xfs
              - zfs
            mountpoint:
              type: string
            raid:
              type: integer
              format: int64
            size:
              type: integer
              format: int64
            step:
              type: integer
              format: int64
            type:
              type: string
              enum:
              - logical
              - lv
              - primary
            volumeName:
              type: string
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/installationTemplate/{templateName}/partitionScheme/{schemeName}/partition/{mountpoint}:
    parameters:
    - name: templateName
      in: path
      required: true
      type: string
    - name: schemeName
      in: path
      required: true
      type: string
    - name: mountpoint
      in: path
      required: true
      type: string
    get:
      summary: Get this object properties
      description: PRODUCTION - authentication required
      responses:
        "200":
          $ref: '#/responses/dedicated.InstallationTemplate.TemplatePartitions'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    put:
      summary: Alter this object properties
      description: PRODUCTION - authentication required
      parameters:
      - name: meInstallationTemplatePartitionSchemePartitionPut
        in: body
        required: true
        schema:
          $ref: '#/definitions/dedicated.InstallationTemplate.TemplatePartitions'
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    delete:
      summary: remove this partition
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return 'void'
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
  /me/ipOrganisation:
    get:
      summary: List of organisations
      description: PRODUCTION - authentication required
      responses:
        "200":
          description: return value
          schema:
            type: array
            items:
              type: string
        default:
          $ref: '#/responses/OVH.Error'
      security:
      - ApiKeyAuth: []
    post:
      summary: Add an organisation
      description: PRODUCTION - authentication required
      parameters:
      - name: meIpOrganisationPost
        in: body
        schema:
          type: object
          required:
          - country
          - firstname
          - registry
          - lastname
          - phone
          - abuse_mailbox
          - city
          - address
          properties:
            abuse_mailbox:
              type: string
            address:
              type: string
            city:
              type: string
            country:
              type: string
              enum:
              - AC
              - AD
              - AE
              - AF
              - AG
              - AI
              - AL
              - AM
              - AO
              - AQ
              - AR
              - AS
              - AT
              - AU
              - AW
              - AX
              - AZ
              - BA
              - BB
              - BD
              - BE
              - BF
              - BG
              - BH
              - BI
              - BJ
              - BL
              - BM
              - BN
              - BO
              - BQ
              - BR
              - BS
              - BT
              - BW
              - BY
              - BZ
              - CA
              - CC
              - CD
              - CF
              - CG
              - CH
              - CI
              - CK
              - CL
              - CM
              - CN
              - CO
              - CR
              - CU
              - CV
              - CW
              - CX
              - CY
              - CZ
              - DE
              - DG
              - DJ
              - DK
              - DM
              - DO
              - DZ
              - EA
              - EC
              - EE
              - EG
              - EH
              - ER
              - ES
              - ET
              - FI
              - FJ
              - FK
              - FM
              - FO
              - FR
              - GA
              - GB
              - GD
              - GE
              - GF
              - GG
              - GH
              - GI
              - GL
              - GM
              - GN
              - GP
              - GQ
              - GR
              - GS
              - GT
              - GU
              - GW
              - GY
              - HK
              - HN
              - HR
              - HT
              - HU
              - IC
              - ID
              - IE
              - IL
              - IM
              - IN
              - IO
              - IQ
              - IR
              - IS
              - IT
              - JE
              - JM
              - JO
              - JP
              - KE
              - KG
              - KH
              - KI
              - KM
              - KN
              - KP
              - KR
              - KW
              - KY
              - KZ
              - LA
              - LB
              - LC
              - LI
              - LK
              - LR
              - LS
              - LT
              - LU
              - LV
              - LY
              - MA
              - MC
              - MD
              - ME
              - MF
              - MG
              - MH
              - MK
              - ML
              - MM
              - MN
              - MO
              - MP
              - MQ
              - MR
              - MS
              - MT
              - MU
              - MV
              - MW
              - MX
              - MY
              - MZ
              - NA
              - NC
              - NE
              - NF
              - NG
              - NI
              - NL
              - "NO"
              - NP
              - NR
              - NU
              - NZ
              - OM
              - PA
              - PE
              - PF
              - PG
              - PH
              - PK
              - PL
              - PM
              - PN
              - PR
              - PS
              - PT
              - PW
              - PY
              - QA
              - RE
              - RO
              - RS
              - RU
              - RW
              - SA
              - SB
              - SC
              - SD
              - SE
              - SG
              - SH
              - SI
              - SJ
              - SK
              - SL
              - SM
              - SN
              - SO
              - SR
              - SS
              - ST
              - SV
              - SX
              - SY
              - SZ
              - TA
              - TC
              - TD
              - TF
[...]
